# Eclipse
/.classpath
/.project
/.settings/org.sonarlint.*
/bin/

# IntelliJ idea
/*.iml
/*.iws
/*.ipr
/out/
/.idea/*
!/.idea/codeStyleSettings.xml

# Gradle
/build/
/.gradle/

/test/data/preferences/
