# Eclipse
/.classpath
/.project
/.settings/org.sonarlint.*
/bin/

# IntelliJ idea
/*.iml
/*.iws
/*.ipr
/out/
/.idea/*
!/.idea/codeStyles/
/.idea/codeStyles/*
!/.idea/codeStyles/codeStyleConfig.xml
!/.idea/codeStyles/Project.xml

# Gradle
/build/
/.gradle/

/test/data/preferences/

# Netbeans
/.nb-gradle/

/bin-test/

# Private key files
/src/main/resources/mapillary_api_keys.json

